<div class="contacts-container">
    {{#each contactInfo}}
        <div class="contact-div">
            <p><span class="span-style">Name:</span> <span class="span-content name">{{name}}</span></p>
            <p><span class="span-style">E-mail:</span> <span class="span-content email">{{email}}</span></p>
        </div>
    {{/each}}
</div>

